/* 
-----------------------------------------------------------------
Laptop Dimensions: Minimum Width: 925px
Tablet Dimensions: Minimum Width: 646px, Maximum Width: 924px
Phone Dimensions: Maximum Width: 645px 
-----------------------------------------------------------------
*/

.footer {
    display: flex;
    justify-content: space-between; /* Distributes the space evenly between the children */
    align-items: center; /* Vertically centers the content */
    background-color: rgba(28, 28, 27, 1);
    height: 82px;
    padding-left: 1%;
    padding-right: 1%;

    .footer_image {
        flex: 1; /* Allows the image to take up available space */
        display: flex;
        justify-content: flex-start;

        @media screen and (min-width: 925px) {
            .responsive_image {
                content: url('/revolt_logo.png');
                width: 215.5px;
            }
        }
        @media screen and (max-width: 924px) and (min-width: 646px){
            width: 5.5vw;
            .responsive_image {
                content: url('/revolt_logo.png');
            }
        }
        @media screen and (max-width: 645px){
            .responsive_image {
                width: 50px;
                content: url('/revolt_logo_pic_invert.png');
            }
        }
    }

    .footer_text {
        flex: 2; /* Takes up more space so the text is centered */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .f_t_1 {
            font-family: 'Coolvetica-Regular';

            @media screen and (min-width: 925px) {
                font-size: 15.5px;
            }
            @media screen and (max-width: 924px) and (min-width: 646px){
                font-size: 15.5px;
            }
            @media screen and (max-width: 645px){
                font-size: 11.5px;
            }
        }
    }

    .footer_socials {
        flex: 1; /* Allows the socials to take up available space */
        display: flex;
        justify-content: flex-end; /* Aligns the content to the right */
        align-items: center;

        .social_icon {
            @media screen and (min-width: 925px) {
                width: 30px;
                height: 30px;
            }
            @media screen and (max-width: 924px) and (min-width: 646px){
                width: 30px;
                height: 30px;
            }
            @media screen and (max-width: 645px){
                width: 15px;
                height: 15px;
            }
            margin-left: 7.5px;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}


@font-face {
    font-family: "Benzin-Regular";
    src: url("font_styles_title/Benzin-Regular.ttf");
}
@font-face {
    font-family: "Benzin-Bold";
    src: url("font_styles_title/Benzin-Bold.ttf");
}
@font-face {
    font-family: "Coolvetica-Regular";
    src: url("font_styles_title/coolvetica\ rg.otf");
}