
/* Laptop Dimensions */
@media screen and (min-width: 925px) {
    #header {
        background-color: rgba(28, 28, 27, 0.5);
        transition: 0.20s;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        width: 100%;
        z-index: 0;
    }
    #header:hover {
        background-color: red;
        opacity: 100%;
        z-index: 0;
    }
    #header_image {
        padding-top: 0.25%;
        padding-left: 0.25%;
        padding-bottom: 0.25%;
        z-index: 2;
    }
    #header_menu{
        font-size: large;
        display: flex;
        flex-direction: row;
        padding-top: 17.5px;
        width: auto;
        justify-content: center;
        z-index: 2;
        margin-left: -50px; 
        flex: 1;
    }
    #header_sidebar {
        display: none;
    }
    #header_buttons {
        padding-left: 2.5%;
        padding-right: 2.5%;
        font-size: large;
        font-family: "Benzin-Regular";
        text-transform: uppercase;
        transition: 0.2s;
        z-index: 2;
    }
    #header_buttons:hover {
        font-family: "Benzin-Bold";
        transform: scale(1.1);
    }
}


/* Tablet Dimensions */
@media screen and (max-width: 925px) and (min-width: 646px) {
    #header {
        background-color: rgba(28, 28, 27, 0.5);
        transition: 0.20s;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        width: 100%;
        z-index: 0;
    }
    #header:hover {
        background-color: red;
        opacity: 100%;
        z-index: 0;
    }
    #header_image {
        padding: 0.25%;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
    #header_menu{
        font-size: large;
        display: flex;
        flex-direction: row;
        padding-top: 1.5px;
        padding-bottom: 5.5px;
        width: auto;
        justify-content: center;
        z-index: 2;
    }
    #header_sidebar {
        display: none;
    }
    #header_buttons {
        padding-left: 2.5%;
        padding-right: 2.5%;
        font-size: large;
        font-family: "Benzin-Regular";
        text-transform: uppercase;
        transition: 0.2s;
        z-index: 2;
    }
    #header_buttons:hover {
        font-family: "Benzin-Bold";
        transform: scale(1.1);
    }
}

/* Phone Dimensions */
@media screen and (max-width: 645px) {
    #header {
        background-color: rgba(28, 28, 27, 0.8);
        transition: 0.20s;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        width: 100%;
        z-index: 0;
    }
    #header_image {
        padding-top: 0.25%;
        padding-left: 0.25%;
        padding-bottom: 0.25%;
        z-index: 2;
    }
    #header_menu {
        display: none;
    }
    #header_sidebar {
        height: auto;
        width: auto;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #header_buttons {
        padding-left: 2.5%;
        padding-right: 2.5%;
        font-size: small;
        font-family: "Benzin-Regular";
        text-transform: uppercase;
        transition: 0.2s;
        z-index: 2;
    }
    #header_buttons:hover {
        font-family: "Benzin-Bold";
        color: red;
        transform: scale(1.1);
    }
    #sidebar_button {
        display: block;
    }
}

#sidebar_button {
    display: none;
}

@font-face {
    font-family: "Benzin-Regular";
    src: url("font_styles_title/Benzin-Regular.ttf");
}
@font-face {
    font-family: "Benzin-Bold";
    src: url("font_styles_title/Benzin-Bold.ttf");
}

