#header {
    background-color: rgb(28, 28, 27, 0.5);
    transition: 0.20s;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 100%;
    z-index: 0;
}
#header:hover {
    background-color: red;
    opacity: 100%;
    z-index: 0;
}

#header_image {
    padding: 0.25%;
    padding-right: 7.5%;
    z-index: 2;
}

#header_menu {
    font-size: large;
    display: flex;
    flex-direction: row;
    padding-top: 1.5%;
    z-index: 2;
}

#header_buttons {
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: large;
    font-family: "Benzin-Regular";
    text-transform: uppercase;
    transition: 0.2s;
    z-index: 2;
}
#header_buttons:hover {
    font-family: "Benzin-Bold";
    transform: scale(1.1);
}
@font-face {
    font-family: "Benzin-Regular";
    src: url("font_styles_title/Benzin-Regular.ttf");
}
@font-face {
    font-family: "Benzin-Bold";
    src: url("font_styles_title/Benzin-Bold.ttf");
}


