
/* Laptop Dimensions */
@media screen and (min-width: 925px) {
    #home_pg_header {
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 4vw;
        width: 90%;
        
    }
    
    #home_pg_h_text {
        display: flex;
        flex-direction: column;
        align-items: end;
        font-family: "Benzin-Bold";
        transition: 0.5s;
        width: 100%;
    }
    #home_pg_h_text:hover {
        font-family: "Benzin-Regular";
        transition: 1.5s;
    }
    #home_pg_h_button {
        text-transform: uppercase;
        margin-left: 75px;
        font-size: 6.5vw;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: -30%;
        transition: 0.5s;
    }
    #home_pg_h_button:not(:first-child) {
        margin-top: -3vw; /* Adjust this value as needed */
    }
    #home_pg_h_button:hover {
        font-family: "Benzin-Bold";
        color: red;
        transform: scale(1.01);
        transition: 0.5s;
    }
    
    #home_pg_h_img {
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        padding-right: 10%;
        overflow: hidden;
    }
    
    #our_work_component {
        background-color: rgba(28, 28, 27, 1);
        display: flex;
        flex-direction: row;
    }
    #owc_video {
        padding: 0.5% 1%;
    }
    #owc_video_part {
        width: 420px; 
        height: 315px;
    }
    #owc_content {
        display: flex;
        flex-direction: column;
        padding: 0.5% 1%;
    }
 
}

/* Tablet Dimensions */
@media screen and (max-width: 924px) and (min-width: 646px) {
    #home_pg_header {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 110px;
        padding-bottom: 4vw;
        width: 100%;
    }

    #home_pg_h_text {
        display: flex;
        flex-direction: row;
        font-family: "Benzin-Bold";
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        width: 100%;
    }
    #home_pg_h_text:hover {
        font-family: "Benzin-Regular";
        transition: 1.5s;
    }
    
    #home_pg_h_button {
        text-transform: uppercase;
        font-size: 4vw;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: -30%;
        transition: 0.5s;
    }
    #home_pg_h_button:hover {
        font-family: "Benzin-Bold";
        color: red;
        transform: scale(1.01);
        transition: 0.5s;
    }
    
    
    #home_pg_h_img {
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        padding-right: 10%;
        overflow: hidden;
    }
    
    #our_work_component {
        background-color: rgba(28, 28, 27, 1);
        display: flex;
        flex-direction: row;
    }
}

/* Phone Dimensions */
@media screen and (max-width: 645px) {
    #home_pg_header {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 4vw;
        width: 100%;
    }

    #home_pg_h_text {
        display: flex;
        flex-direction: row;
        font-family: "Benzin-Bold";
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        width: 100%;
    }
    #home_pg_h_text:hover {
        font-family: "Benzin-Regular";
        transition: 1.5s;
    }
    
    #home_pg_h_button {
        text-transform: uppercase;
        font-size: 4vw;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: -30%;
        transition: 0.5s;
    }
    #home_pg_h_button:hover {
        font-family: "Benzin-Bold";
        color: red;
        transform: scale(1.01);
        transition: 0.5s;
    }
    
    
    #home_pg_h_img {
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        padding-right: 10%;
        overflow: hidden;
    }
    
    #our_work_component {
        background-color: rgba(28, 28, 27, 1);
        display: flex;
        flex-direction: row;
    }
}

#h1 {
    font-size: 200%;
    font-family: "Benzin-Regular" ;
}

#p {
    font-size: 150%;
    font-family: "Coolvetica-Regular" ;
    text-align: justify;
    display: block;
}

#hr {
    width: 100%;
    height: 50px;
    border: black;
}

@font-face {
    font-family: "Benzin-Regular";
    src: url("font_styles_title/Benzin-Regular.ttf");
}
@font-face {
    font-family: "Benzin-Bold";
    src: url("font_styles_title/Benzin-Bold.ttf");
}
@font-face {
    font-family: "Coolvetica-Regular";
    src: url("font_styles_title/coolvetica\ rg.otf");
}