/* 
-----------------------------------------------------------------
Laptop Dimensions (LD): Minimum Width: 925px
Tablet Dimensions (TD): Minimum Width: 646px, Maximum Width: 924px
Phone Dimensions (PD): Maximum Width: 645px 
-----------------------------------------------------------------
*/

/*
-----------------------------------------------------------------
Team Page Sub Headers (The ReVolt Team, Executives, etc):
    - For all Dimensions: 2.75vw

Team Page Text Content:
    - (LD): 1.5vw
    - (TD): 2.0vw
    - (PD): 2.5vw
-----------------------------------------------------------------
*/

@font-face {
    font-family: "Benzin-Regular";
    src: url("font_styles_title/Benzin-Regular.ttf");
}
@font-face {
    font-family: "Benzin-Bold";
    src: url("font_styles_title/Benzin-Bold.ttf");
}
@font-face {
    font-family: "Coolvetica-Regular";
    src: url("font_styles_title/coolvetica\ rg.otf");
}
@font-face {
    font-family: "Helvetica-Regular";
    src: url("font_styles_title/Helvetica.ttf");
}

.team_page_main {

    .top_space {

    }
    .bottom_space {

    }

    
}