/* 
-----------------------------------------------------------------
Laptop Dimensions: Minimum Width: 925px
Tablet Dimensions: Minimum Width: 646px, Maximum Width: 924px
Phone Dimensions: Maximum Width: 645px 
-----------------------------------------------------------------
*/


.main_content {

    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it takes the full height of the viewport */
    width: 100%;
    height: auto;
    justify-content: center; /* Center the content vertically */

    .margin_setup {
        opacity: 0;
        margin-bottom: 12.5vw;
    }

    .v_s_1 {
        display: flex;
        width: 100%;
        margin-bottom: auto;
        margin-bottom: 12.5vw;
    
        .main_style_1 {
            display: flex;
            flex-direction: column;
            background: linear-gradient(to right, rgb(18,18,18) , rgb(33,33,33));
            width: 100%;
    
            .expandbox {
                margin-left: 5vw;
                font-size: 1.25vw;
                width: 7.5%;
                padding-left: 0.5vw;
                font-family: 'Benzin-Bold';
                color: rgba(28, 28, 27, 0.75);;
                transform: translateY(-1.0vw);
                border: solid white;
                background-color: white;
            }
    
            .expandbox:hover {
    
            }
    
            .m_s_1_subsection_1 {
                display: flex;
                flex-direction: row;
    
                .m_s_1_s_1_text {
                    width: 50%;
                    
                    &.m_s_1_s_1_text h1 {
                        transform: translateY(-2.0vw);
                        padding-left: 3vw;
                        font-size: 2.75vw;
                        font-family: 'Benzin-Bold';
                    }
    
                    .m_s_1_s_1_t_list {
                        padding-left: 4.5vw;
                        padding-bottom: 1.5vw;
    
                        &.m_s_1_s_1_t_list li {
                            padding: 0.5vw;
                            list-style: circle;
                        }
    
                        &.m_s_1_s_1_t_list li p {
                            font-size: 1.25vw;
                            font-family: 'Helvetica-Regular';
                        }
                        
                    }
    
                    
                }
    
                .m_s_1_s_1_model {
                    width: 50%;
                    height: auto;
                    display: flex;
                    overflow: visible;
                    justify-content: center;
                    margin-top: -3.5vw;
                } 
            }
    
            .checkbox:checked ~ .m_s_1_subsection_expand_1 {
                display: flex;
                flex-direction: column;
    
                .m_s_1_s_e_1_div {
                    display: flex;
                    flex-direction: row;
                }
            }
    
    
            .checkbox {
                display: none;
            }
            .m_s_1_subsection_expand_1 {
                display: none;
            }
            
            .checkbox:checked ~ .expandbox {
                display: none;
            }
        }
    }

}

@font-face {
    font-family: "Benzin-Regular";
    src: url("font_styles_title/Benzin-Regular.ttf");
}
@font-face {
    font-family: "Benzin-Bold";
    src: url("font_styles_title/Benzin-Bold.ttf");
}
@font-face {
    font-family: "Coolvetica-Regular";
    src: url("font_styles_title/coolvetica\ rg.otf");
}
@font-face {
    font-family: "Helvetica-Regular";
    src: url("font_styles_title/Helvetica.ttf");
}