/* 
-----------------------------------------------------------------
Laptop Dimensions: Minimum Width: 925px
Tablet Dimensions: Minimum Width: 646px, Maximum Width: 924px
Phone Dimensions: Maximum Width: 645px 
-----------------------------------------------------------------
*/


.main_content {

    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it takes the full height of the viewport */
    width: 100%;
    height: auto;
    justify-content: center; /* Center the content vertically */

    .margin_setup {
        opacity: 0;
        margin-bottom: 14.5vw;
    }

    .p_h_space {
        opacity: 0;
    }

    .v_s_1 {
        display: flex;
        width: 100%;
        margin-bottom: auto;
        margin-bottom: 12.5vw;
    
        .main_style_1 {
            display: flex;
            flex-direction: column;
            background: linear-gradient(to right, rgb(18,18,18) , rgb(33,33,33));
            width: 100%;
    
            .expandbox {
                margin-left: 5vw;
                font-size: 1.25vw;
                width: 8.2%;
                padding-left: 0.5vw;
                font-family: 'Benzin-Regular';
                color: black;
                transform: translateY(-0.75vw);
                border: solid white;
                background-color: white;
                transition: transform 0.3s ease;
            }
    
            .expandbox:hover {
                transform: scale(1.1) translateY(-0.75vw); 
            }
    
            .m_s_1_subsection_1 {
                display: flex;
                flex-direction: row;
    
                .m_s_1_s_1_text {
                    width: 50%;
                    
                    &.m_s_1_s_1_text h1 {
                        transform: translateY(-2.0vw);
                        padding-left: 3vw;
                        font-size: 2.75vw;
                        font-family: 'Benzin-Bold';
                    }
    
                    .m_s_1_s_1_t_list {
                        padding-left: 4.5vw;
                        padding-bottom: 1.5vw;
    
                        &.m_s_1_s_1_t_list li {
                            padding: 0.5vw;
                            list-style: square;
                        }
    
                        &.m_s_1_s_1_t_list li p {
                            font-size: 1.25vw;
                            font-family: 'Helvetica-Regular';
                        }
                        
                    }
    
                    
                }
    
                .m_s_1_s_1_model {
                    width: 50%;
                    height: auto;
                    display: flex;
                    overflow: visible;
                    justify-content: center;
                    margin-top: -3.5vw;
                } 
            }
    
            .checkbox:checked ~ .m_s_1_subsection_expand_1 {
                display: flex;
                flex-direction: column;
                animation: slideDown 1.5s ease forwards;
                max-height: 5000px;
                margin-top: 1.5vw;
                transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;
                opacity: 1;

                &.m_s_1_subsection_expand_1 h1 {
                    margin-top: 2.5vw;
                    margin-bottom: 1.5vw;
                    padding-left: 3vw;
                    font-size: 2.75vw;
                    font-family: 'Benzin-Bold';
                }

                .collapsebox {
                    margin-left: 5vw;
                    font-size: 1.25vw;
                    width: 10.5%;
                    padding-left: 0.5vw;
                    margin-bottom: 3.5vw;
                    font-family: 'Benzin-Regular';
                    color: black;
                    transform: translateY(1.75vw);
                    border: solid white;
                    background-color: white;
                    transition: transform 0.3s ease;
                }

                .collapsebox:hover {
                    transform: scale(1.1) translateY(1.75vw); 
                }

                .m_s_1_s_e_1_div {
                    display: flex;
                    flex-direction: row;
                    
                    .block {
                        display: flex;
                        width: 5%;
                        justify-content: flex-end;

                        .block2 {
                            width: 10%;
                            background-color: white;
                        }
                    }

                    .m_s_1_s_e_1_text {
                        display: flex;
                        flex-direction: column;
                        width: 47.5%;
                        padding-left: 1.0vw;

                        .event3 {
                            padding-bottom: 2.75vw; 

                            &.event3 h2 {
                                font-family: 'Benzin-Bold';
                                font-size: 2.0vw;
                            }

                            &.event3 h3 {
                                font-family: 'Benzin-Regular';
                                font-size: 1.65vw;
                            }

                            &.event3 div {
                                    padding-top: 1.5vw;
                                    padding-left: 1vw;

                                    .text_style {
                                        font-family: 'Helvetica-Regular';
                                        font-size: 1.25vw;
                                    }
                            }
                        }

                        .event2 {
                            padding-bottom: 2.75vw; 

                            &.event2 h2 {
                                font-family: 'Benzin-Bold';
                                font-size: 2.0vw;
                            }

                            &.event2 h3 {
                                font-family: 'Benzin-Regular';
                                font-size: 1.65vw;
                            }

                            &.event2 div {
                                    padding-top: 1.5vw;
                                    padding-left: 1vw;

                                    .text_style {
                                        font-family: 'Helvetica-Regular';
                                        font-size: 1.25vw;
                                    }
                            }
                        }

                        .event1 {
                            padding-bottom: 2.75vw; 

                            &.event1 h2 {
                                font-family: 'Benzin-Bold';
                                font-size: 2.0vw;
                            }

                            &.event1 h3 {
                                font-family: 'Benzin-Regular';
                                font-size: 1.65vw;
                            }

                            &.event1 div {
                                    padding-top: 1.5vw;
                                    padding-left: 1vw;

                                    .text_style {
                                        font-family: 'Helvetica-Regular';
                                        font-size: 1.25vw;
                                    }
                            }
                        }

                    }

                    .m_s_1_s_e_1_images {
                        width: 47.5%
                    }
                }
            }

            .checkbox {
                display: none;
            }

            .checkbox:not(:checked) ~ .m_s_1_subsection_expand_1 {
                max-height: 0;
                opacity: 0;
                margin-top: 0;
                transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;
            }

            .m_s_1_subsection_expand_1 {
                overflow: hidden;
                max-height: 0; /* Initially collapsed */
                opacity: 0; /* Initially invisible */
                margin-top: 0; /* Initially no margin */
                transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;
            }

            .checkbox:checked ~ .expandbox {
                display: none;
            }
        }
    }

}

@keyframes slideDown {
    0% {
        max-height: 0;
        opacity: 0;
    }
    100% {
        max-height: 5000px; /* Adjust this as necessary */
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        max-height: 5000px;
        opacity: 1;
    }
    100% {
        max-height: 0px; /* Adjust this as necessary */
        opacity: 0;
    }
}



@font-face {
    font-family: "Benzin-Regular";
    src: url("font_styles_title/Benzin-Regular.ttf");
}
@font-face {
    font-family: "Benzin-Bold";
    src: url("font_styles_title/Benzin-Bold.ttf");
}
@font-face {
    font-family: "Coolvetica-Regular";
    src: url("font_styles_title/coolvetica\ rg.otf");
}
@font-face {
    font-family: "Helvetica-Regular";
    src: url("font_styles_title/Helvetica.ttf");
}